server:
  port: 9210

spring:
  application:
    name: auth-service
  profiles:
    active: dev
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        group: DEFAULT_GROUP
      config:
        server-addr: 127.0.0.1:8848
        group: DEFAULT_GROUP
        namespace: dev
  config:
    import:
      - optional:nacos:application-common.yml
      - optional:nacos:${spring.application.name}.yml
