server:
  port: 8080
  servlet:
    context-path: /

spring:
  application:
    name: gateway-service
  profiles:
    active: dev

  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
        group: DEFAULT_GROUP
      config:
        server-addr: 127.0.0.1:8848
        group: DEFAULT_GROUP
        namespace: dev
  config:
    import:
      - nacos:application-common.yml
      - nacos:${spring.application.name}.yml
  main:
    allow-bean-definition-overriding: true

